Fase 1: EXTRACCION DE DATOS DE PELICULAS
Nuestro primer objetivo es extraer los datos de películas de la API. En Adalab nos hemos creado un API
muy sencilla que contiene la siguiente información:
Datos a extraer:
Título
Año de lanzamiento
Duración (en minutos)
Género
Contenido para adultos (sí o no)
El objetivo es extraer 100 películas de esta API utilizando el siguiente endpoint:
https://beta.adalab.es/resources/apis/pelis/pelis.json

In [1]:
## Importar las librerias necesarias
import requests ## para conectar con Api y descargar los datos
import pandas as pd ## para convertir los datos en formato tabla
import mysql.connector ## para conectar Paython con MySQL
import numpy as np ## para convertir formato nan de Paython a none de MySQL
from mysql.connector import Error ## captura errores de MySQL

In [2]:
## Función para llamar a Api y comprobar errores

def llamar_api(url):
    datos = requests.get(url)       ## llamamos a la APi
    print(f"Llamada al API, con respuesta : {datos.status_code}") ## muestra si la respuesta es correcta

    if datos.status_code != 200:
        print(f"Llamada falló, por el siguiente motivo: {datos.reason}")## si hay error nos indica el motivo
    else:
        return datos.json() ## nos devuelve los datos en formato json

In [3]:
## Extraer datos de la Api

url = "https://beta.adalab.es/resources/apis/pelis/pelis.json"
datos_pelis = llamar_api(url)

Llamada al API, con respuesta : 200

In [4]:
## Muestra de los datos extraidos
datos_pelis
type(datos_pelis)

list

In [5]:
## Datos_pelis es una lista de diccionarios;eliminar id y subtitulos.
for peli in datos_pelis:
    if "id" in peli:
       del peli ["id"]
    if "subtitulos" in peli:
        del peli["subtitulos"]
print(datos_pelis)

[{'titulo': 'The Godfather', 'año': 1972, 'duracion': 175, 'genero': 'Crimen', 'adultos': False}, {'titulo': 'The Godfather Part II', 'año': 1974, 'duracion': 202, 'genero': 'Crimen', 'adultos': False}, {'titulo': 'Pulp Fiction', 'año': 1994, 'duracion': 154, 'genero': 'Crimen', 'adultos': True}, {'titulo': 'Forrest Gump', 'año': 1994, 'duracion': 142, 'genero': 'Drama', 'adultos': False}, {'titulo': 'The Dark Knight', 'año': 2008, 'duracion': 152, 'genero': 'Acción', 'adultos': False}, {'titulo': 'Fight Club', 'año': 1999, 'duracion': 139, 'genero': 'Drama', 'adultos': True}, {'titulo': 'Inception', 'año': 2010, 'duracion': 148, 'genero': 'Ciencia ficción', 'adultos': False}, {'titulo': 'The Matrix', 'año': 1999, 'duracion': 136, 'genero': 'Ciencia ficción', 'adultos': False}, {'titulo': 'The Shawshank Redemption', 'año': 1994, 'duracion': 142, 'genero': 'Drama', 'adultos': False}, {'titulo': 'Interstellar', 'año': 2014, 'duracion': 169, 'genero': 'Ciencia ficción', 'adultos': False}, {'titulo': 'Gladiator', 'año': 2000, 'duracion': 155, 'genero': 'Acción', 'adultos': False}, {'titulo': 'Titanic', 'año': 1997, 'duracion': 195, 'genero': 'Romance', 'adultos': False}, {'titulo': 'Avatar', 'año': 2009, 'duracion': 162, 'genero': 'Ciencia ficción', 'adultos': False}, {'titulo': 'Saving Private Ryan', 'año': 1998, 'duracion': 169, 'genero': 'Bélico', 'adultos': True}, {'titulo': 'The Silence of the Lambs', 'año': 1991, 'duracion': 118, 'genero': 'Thriller', 'adultos': True}, {'titulo': 'Se7en', 'año': 1995, 'duracion': 127, 'genero': 'Thriller', 'adultos': True}, {'titulo': 'Goodfellas', 'año': 1990, 'duracion': 146, 'genero': 'Crimen', 'adultos': True}, {'titulo': 'The Departed', 'año': 2006, 'duracion': 151, 'genero': 'Crimen', 'adultos': True}, {'titulo': 'Whiplash', 'año': 2014, 'duracion': 106, 'genero': 'Drama', 'adultos': False}, {'titulo': 'La La Land', 'año': 2016, 'duracion': 128, 'genero': 'Musical', 'adultos': False}, {'titulo': 'The Lord of the Rings: The Fellowship of the Ring', 'año': 2001, 'duracion': 178, 'genero': 'Fantasía', 'adultos': False}, {'titulo': 'The Lord of the Rings: The Two Towers', 'año': 2002, 'duracion': 179, 'genero': 'Fantasía', 'adultos': False}, {'titulo': 'The Lord of the Rings: The Return of the King', 'año': 2003, 'duracion': 201, 'genero': 'Fantasía', 'adultos': False}, {'titulo': 'Star Wars: A New Hope', 'año': 1977, 'duracion': 121, 'genero': 'Ciencia ficción', 'adultos': False}, {'titulo': 'Star Wars: The Empire Strikes Back', 'año': 1980, 'duracion': 124, 'genero': 'Ciencia ficción', 'adultos': False}, {'titulo': 'Star Wars: Return of the Jedi', 'año': 1983, 'duracion': 131, 'genero': 'Ciencia ficción', 'adultos': False}, {'titulo': 'Back to the Future', 'año': 1985, 'duracion': 116, 'genero': 'Aventura', 'adultos': False}, {'titulo': 'Jurassic Park', 'año': 1993, 'duracion': 127, 'genero': 'Aventura', 'adultos': False}, {'titulo': 'The Lion King', 'año': 1994, 'duracion': 88, 'genero': 'Animación', 'adultos': False}, {'titulo': 'Toy Story', 'año': 1995, 'duracion': 81, 'genero': 'Animación', 'adultos': False}, {'titulo': 'Finding Nemo', 'año': 2003, 'duracion': 100, 'genero': 'Animación', 'adultos': False}, {'titulo': 'Shrek', 'año': 2001, 'duracion': 90, 'genero': 'Animación', 'adultos': False}, {'titulo': 'The Incredibles', 'año': 2004, 'duracion': 115, 'genero': 'Animación', 'adultos': False}, {'titulo': 'WALL·E', 'año': 2008, 'duracion': 98, 'genero': 'Animación', 'adultos': False}, {'titulo': 'Up', 'año': 2009, 'duracion': 96, 'genero': 'Animación', 'adultos': False}, {'titulo': 'Spirited Away', 'año': 2001, 'duracion': 125, 'genero': 'Animación', 'adultos': False}, {'titulo': 'Princess Mononoke', 'año': 1997, 'duracion': 134, 'genero': 'Animación', 'adultos': True}, {'titulo': 'The Green Mile', 'año': 1999, 'duracion': 189, 'genero': 'Drama', 'adultos': True}, {'titulo': 'The Truman Show', 'año': 1998, 'duracion': 103, 'genero': 'Drama', 'adultos': False}, {'titulo': 'The Social Network', 'año': 2010, 'duracion': 120, 'genero': 'Drama', 'adultos': False}, {'titulo': 'Joker', 'año': 2019, 'duracion': 122, 'genero': 'Drama', 'adultos': True}, {'titulo': 'Black Panther', 'año': 2018, 'duracion': 134, 'genero': 'Acción', 'adultos': False}, {'titulo': 'Iron Man', 'año': 2008, 'duracion': 126, 'genero': 'Acción', 'adultos': False}, {'titulo': 'The Avengers', 'año': 2012, 'duracion': 143, 'genero': 'Acción', 'adultos': False}, {'titulo': 'Avengers: Endgame', 'año': 2019, 'duracion': 181, 'genero': 'Acción', 'adultos': False}, {'titulo': 'Dune', 'año': 2021, 'duracion': 155, 'genero': 'Ciencia ficción', 'adultos': False}, {'titulo': 'Mad Max: Fury Road', 'año': 2015, 'duracion': 120, 'genero': 'Acción', 'adultos': True}, {'titulo': 'The Revenant', 'año': 2015, 'duracion': 156, 'genero': 'Aventura', 'adultos': True}, {'titulo': 'Parasite', 'año': 2019, 'duracion': 132, 'genero': 'Thriller', 'adultos': True}, {'titulo': 'Oldboy', 'año': 2003, 'duracion': 120, 'genero': 'Thriller', 'adultos': True}, {'titulo': 'The Pianist', 'año': 2002, 'duracion': 150, 'genero': 'Drama', 'adultos': True}, {'titulo': 'The Wolf of Wall Street', 'año': 2013, 'duracion': 180, 'genero': 'Biografía', 'adultos': True}, {'titulo': 'Her', 'año': 2013, 'duracion': 126, 'genero': 'Drama', 'adultos': False}, {'titulo': 'Gravity', 'año': 2013, 'duracion': 91, 'genero': 'Ciencia ficción', 'adultos': False}, {'titulo': 'The Shape of Water', 'año': 2017, 'duracion': 123, 'genero': 'Fantasía', 'adultos': True}, {'titulo': 'Get Out', 'año': 2017, 'duracion': 104, 'genero': 'Terror', 'adultos': True}, {'titulo': 'It', 'año': 2017, 'duracion': 135, 'genero': 'Terror', 'adultos': True}, {'titulo': 'The Conjuring', 'año': 2013, 'duracion': 112, 'genero': 'Terror', 'adultos': True}, {'titulo': 'A Quiet Place', 'año': 2018, 'duracion': 90, 'genero': 'Terror', 'adultos': False}, {'titulo': 'The Exorcist', 'año': 1973, 'duracion': 122, 'genero': 'Terror', 'adultos': True}, {'titulo': 'The Shining', 'año': 1980, 'duracion': 144, 'genero': 'Terror', 'adultos': True}, {'titulo': 'Blade Runner', 'año': 1982, 'duracion': 117, 'genero': 'Ciencia ficción', 'adultos': True}, {'titulo': 'Blade Runner 2049', 'año': 2017, 'duracion': 164, 'genero': 'Ciencia ficción', 'adultos': True}, {'titulo': 'Alien', 'año': 1979, 'duracion': 117, 'genero': 'Ciencia ficción', 'adultos': True}, {'titulo': 'Aliens', 'año': 1986, 'duracion': 137, 'genero': 'Ciencia ficción', 'adultos': True}, {'titulo': 'The Terminator', 'año': 1984, 'duracion': 107, 'genero': 'Acción', 'adultos': True}, {'titulo': 'Terminator 2: Judgment Day', 'año': 1991, 'duracion': 137, 'genero': 'Acción', 'adultos': False}, {'titulo': 'Rocky', 'año': 1976, 'duracion': 120, 'genero': 'Drama', 'adultos': False}, {'titulo': 'Raging Bull', 'año': 1980, 'duracion': 129, 'genero': 'Biografía', 'adultos': True}, {'titulo': 'Taxi Driver', 'año': 1976, 'duracion': 113, 'genero': 'Drama', 'adultos': True}, {'titulo': 'Casablanca', 'año': 1942, 'duracion': 102, 'genero': 'Romance', 'adultos': False}, {'titulo': 'Citizen Kane', 'año': 1941, 'duracion': 119, 'genero': 'Drama', 'adultos': False}, {'titulo': 'Psycho', 'año': 1960, 'duracion': 109, 'genero': 'Terror', 'adultos': True}, {'titulo': 'Vertigo', 'año': 1958, 'duracion': 128, 'genero': 'Suspense', 'adultos': False}, {'titulo': 'Rear Window', 'año': 1954, 'duracion': 112, 'genero': 'Suspense', 'adultos': False}, {'titulo': '12 Angry Men', 'año': 1957, 'duracion': 96, 'genero': 'Drama', 'adultos': False}, {'titulo': "Schindler's List", 'año': 1993, 'duracion': 195, 'genero': 'Drama', 'adultos': True}, {'titulo': 'American Beauty', 'año': 1999, 'duracion': 122, 'genero': 'Drama', 'adultos': True}, {'titulo': 'No Country for Old Men', 'año': 2007, 'duracion': 122, 'genero': 'Crimen', 'adultos': True}, {'titulo': 'The Big Lebowski', 'año': 1998, 'duracion': 117, 'genero': 'Comedia', 'adultos': True}, {'titulo': 'Amélie', 'año': 2001, 'duracion': 122, 'genero': 'Romance', 'adultos': False}, {'titulo': 'The Intouchables', 'año': 2011, 'duracion': 112, 'genero': 'Drama', 'adultos': False}, {'titulo': 'City of God', 'año': 2002, 'duracion': 130, 'genero': 'Crimen', 'adultos': True}, {'titulo': "Pan's Labyrinth", 'año': 2006, 'duracion': 118, 'genero': 'Fantasía', 'adultos': True}, {'titulo': 'Roma', 'año': 2018, 'duracion': 135, 'genero': 'Drama', 'adultos': True}, {'titulo': 'Slumdog Millionaire', 'año': 2008, 'duracion': 120, 'genero': 'Drama', 'adultos': False}, {'titulo': 'Million Dollar Baby', 'año': 2004, 'duracion': 132, 'genero': 'Drama', 'adultos': True}, {'titulo': "The King's Speech", 'año': 2010, 'duracion': 118, 'genero': 'Biografía', 'adultos': False}, {'titulo': 'Argo', 'año': 2012, 'duracion': 120, 'genero': 'Thriller', 'adultos': False}, {'titulo': 'Moonlight', 'año': 2016, 'duracion': 111, 'genero': 'Drama', 'adultos': True}, {'titulo': 'Manchester by the Sea', 'año': 2016, 'duracion': 137, 'genero': 'Drama', 'adultos': True}, {'titulo': 'Birdman', 'año': 2014, 'duracion': 119, 'genero': 'Drama', 'adultos': True}, {'titulo': 'Django Unchained', 'año': 2012, 'duracion': 165, 'genero': 'Western', 'adultos': True}, {'titulo': 'Inglourious Basterds', 'año': 2009, 'duracion': 153, 'genero': 'Bélico', 'adultos': True}, {'titulo': 'The Hateful Eight', 'año': 2015, 'duracion': 168, 'genero': 'Western', 'adultos': True}, {'titulo': 'La vita è bella', 'año': 1997, 'duracion': 116, 'genero': 'Drama', 'adultos': False}, {'titulo': 'Requiem for a Dream', 'año': 2000, 'duracion': 102, 'genero': 'Drama', 'adultos': True}, {'titulo': 'Memento', 'año': 2000, 'duracion': 113, 'genero': 'Thriller', 'adultos': True}, {'titulo': 'Eternal Sunshine of the Spotless Mind', 'año': 2004, 'duracion': 108, 'genero': 'Drama', 'adultos': False}, {'titulo': 'Donnie Darko', 'año': 2001, 'duracion': 113, 'genero': 'Drama', 'adultos': True}]

In [6]:
## Convertir datos_pelis a tabla a través de pandas y mostrar los resultados
tabla_datos_pelis = pd.DataFrame(datos_pelis)
tabla_datos_pelis

                                   titulo   año  duracion    genero  adultos
0                           The Godfather  1972       175    Crimen    False
1                   The Godfather Part II  1974       202    Crimen    False
2                            Pulp Fiction  1994       154    Crimen     True
3                            Forrest Gump  1994       142     Drama    False
4                         The Dark Knight  2008       152    Acción    False
..                                    ...   ...       ...       ...      ...
95                        La vita è bella  1997       116     Drama    False
96                    Requiem for a Dream  2000       102     Drama     True
97                                Memento  2000       113  Thriller     True
98  Eternal Sunshine of the Spotless Mind  2004       108     Drama    False
99                           Donnie Darko  2001       113     Drama     True

[100 rows x 5 columns]

FASE 2: CREACIÓN DE LA BASE DE DATOS

In [7]:
## Conexión de Paython a MySQL

try:
    cnx = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='111729',
    )
    print('Conexión exitosa')
except Error as tipo_error:
    print('Error al conectar:', tipo_error)

Conexión exitosa

In [8]:
## Crear base de datos desde Paython
try:
    mycursor = cnx.cursor()
    query = "CREATE DATABASE IF NOT EXISTS bd_peliculas_adalab "
    mycursor.execute(query)
    print("Query exitosa")
except :
    print("Error.")

Query exitosa

In [9]:
## Antes de crear la tabla en la base de datos comprobar como son los datos.
tabla_datos_pelis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   titulo    100 non-null    object
 1   año       100 non-null    int64
 2   duracion  100 non-null    int64
 3   genero    100 non-null    object
 4   adultos   100 non-null    bool
dtypes: bool(1), int64(2), object(2)
memory usage: 3.4+ KB

In [10]:
## Comprobar si tiene algun null, si es así se cambia el formato para insertar en MySQL
tabla_datos_pelis.isnull().sum()

titulo      0
año         0
duracion    0
genero      0
adultos     0
dtype: int64

In [11]:
## Cambiar el nombre de una columna de la tabla
tabla_datos_pelis_act = tabla_datos_pelis.rename(columns={"adultos": "contenido_para_adultos"})
tabla_datos_pelis_act

,titulo,año,duracion,genero,contenido_para_adultos
0,The Godfather,1972,175,Crimen,False
1,The Godfather Part II,1974,202,Crimen,False
2,Pulp Fiction,1994,154,Crimen,True
3,Forrest Gump,1994,142,Drama,False
4,The Dark Knight,2008,152,Acción,False
...,...,...,...,...,...
95,La vita è bella,1997,116,Drama,False
96,Requiem for a Dream,2000,102,Drama,True
97,Memento,2000,113,Thriller,True
98,Eternal Sunshine of the Spotless Mind,2004,108,Drama,False
99,Donnie Darko,2001,113,Drama,True

In [12]:
## Crear tabla peliculas en la base de datos
mycursor.execute("USE bd_peliculas_adalab") # Indicar en que base de datos se va crear la tabla

query = '''CREATE TABLE peliculas (
    id_peli INT AUTO_INCREMENT PRIMARY KEY,
    titulo VARCHAR(255) NOT NULL,
    año INT,
    duracion INT,
    genero VARCHAR(100),
    contenido_para_adultos BOOLEAN
);'''

mycursor.execute(query)
print("Tabla creada exitosamente")

Tabla creada exitosamente

3. INSERTAR LOS DATOS EN LA BASE DE DATOS CREADA: bd_peliculas_adalab

In [13]:
## Insertar datos
# Query de inserción
query_insertar = """
INSERT INTO peliculas (titulo,año,duracion,genero,contenido_para_adultos) 
VALUES (%s, %s, %s, %s, %s)
"""

datos = tabla_datos_pelis_act.values.tolist()## convertir tabla dataframe en lista
## al comprobar anteriormente que no hay valores nulos no se realiza el cambio de nan a none.

# Ejecutar inserción
mycursor.executemany(query_insertar, datos)
cnx.commit()

print(f"{mycursor.rowcount} registros insertados")## cursor.rowcount cuenta cuantas entradas hay

100 registros insertados

FASE 4: OBTENER INFORMACION A PARTIR DE LOS DATOS
Una vez que tenemos toda la información, vamos a responder las siguientes preguntas utilizando consultas
en SQL

In [14]:
##¿Cuántas películas tienen una duración superior a 120 minutos?
#Incio del  cursor
mycursor = cnx.cursor()
# Indicar base de datos donde voy a realizar la consulta
mycursor.execute("USE bd_peliculas_adalab;")

query1 = "SELECT COUNT(id_peli) FROM peliculas WHERE duracion > 120;"

mycursor.execute(query1)
resultado = mycursor.fetchone() # uso de fetchone porque me muestra solo un resultado
print(resultado[0],"peliculas tienen una duración superior a 120 minutos")# [0] para que muestre solo el valor

59 peliculas tienen una duración superior a 120 minutos

In [15]:
##¿Cuántas películas tienen contenido adulto?

query2 = "SELECT COUNT(*) AS total_adultos FROM peliculas WHERE contenido_para_adultos = 1;"

mycursor.execute(query2)
resultado2 = mycursor.fetchone()
print(resultado2[0],"peliculas son de contenido para adultos")

47 peliculas son de contenido para adultos

In [16]:
#¿Cuál es la película más antigua registrada en la base de datos?
query3 = "SELECT titulo, año FROM peliculas ORDER BY año ASC LIMIT 1;"

mycursor.execute(query3)
resultado3 = mycursor.fetchall()
df = pd.DataFrame(resultado3,columns=["titulo","año"])# convertir resultado en un dataframe para visualizar con mas claridad.
df # mostrar dataframe

         titulo   año
0  Citizen Kane  1941

In [17]:
#Muestra el promedio de duración de las películas agrupado por género.
cnx = mysql.connector.connect(
  host="localhost",
  user="root",
  password="111729",
  database="bd_peliculas_adalab"
) # conexion a la base de datos

## Mostrar resultados directamente desde pandas con el metodo pd.read_sql_query
query4 = "SELECT AVG(duracion),genero FROM peliculas GROUP BY genero;"

df_promedio = pd.read_sql_query(query4,cnx)
df_promedio

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20496\466502599.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_promedio = pd.read_sql_query(query4,cnx)

    AVG(duracion)           genero
0        154.2857           Crimen
1        126.2593            Drama
2        139.4444           Acción
3        136.3077  Ciencia ficción
4        139.6667          Romance
5        161.0000           Bélico
6        121.6667         Thriller
7        128.0000          Musical
8        159.8000         Fantasía
9        133.0000         Aventura
10       103.0000        Animación
11       142.3333        Biografía
12       116.5714           Terror
13       120.0000         Suspense
14       117.0000          Comedia
15       166.5000          Western

In [18]:
#¿Cuántas películas por año se han registrado en la base de datos? Ordena de mayor a menor.

query5 ="SELECT año, COUNT(*) AS cantidad_peliculas FROM peliculas GROUP BY año ORDER BY cantidad_peliculas DESC"
df_pelis_año = pd.read_sql_query(query5,cnx)
df_pelis_año

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20496\478855863.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_pelis_año = pd.read_sql_query(query5,cnx)

     año  cantidad_peliculas
0   2001                   5
1   2013                   4
2   1994                   4
3   2008                   4
4   1999                   4
5   2017                   4
6   2010                   3
7   1998                   3
8   2014                   3
9   2000                   3
10  1997                   3
11  2009                   3
12  2015                   3
13  1980                   3
14  2019                   3
15  2012                   3
16  2004                   3
17  2016                   3
18  2002                   3
19  2003                   3
20  2018                   3
21  1995                   2
22  2006                   2
23  1993                   2
24  1991                   2
25  1976                   2
26  1977                   1
27  1990                   1
28  2021                   1
29  1972                   1
30  1974                   1
31  1985                   1
32  1973                   1
33  1982                   1
34  1979                   1
35  1986                   1
36  1984                   1
37  1983                   1
38  1942                   1
39  1941                   1
40  1960                   1
41  1958                   1
42  1954                   1
43  1957                   1
44  2007                   1
45  2011                   1

In [19]:
#¿Cuál es el año con más películas en la base de datos?

df_pelis_año.head(1) # uso del metodo head() para mostrar la primera fila de la tabla anterior

    año  cantidad_peliculas
0  2001                   5

In [20]:
#Obtén un listado de todos los géneros y cuántas películas corresponden a cada uno.

query6 ="SELECT genero, COUNT(*) AS cantidad_peliculas FROM peliculas GROUP BY genero ORDER BY cantidad_peliculas DESC;"

df_generos = pd.read_sql_query(query6,cnx)
df_generos

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20496\1537469128.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_generos = pd.read_sql_query(query6,cnx)

             genero  cantidad_peliculas
0             Drama                  27
1   Ciencia ficción                  13
2            Acción                   9
3         Animación                   9
4            Crimen                   7
5            Terror                   7
6          Thriller                   6
7          Fantasía                   5
8           Romance                   3
9          Aventura                   3
10        Biografía                   3
11           Bélico                   2
12         Suspense                   2
13          Western                   2
14          Musical                   1
15          Comedia                   1

In [21]:
#Muestra todas las películas cuyo título contenga la palabra "star" (puedes usar cualquier palabra)

query7 ="SELECT titulo FROM peliculas WHERE titulo LIKE '%star%';"

df_titulo_star = pd.read_sql_query(query7,cnx)
df_titulo_star

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20496\1904278944.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_titulo_star = pd.read_sql_query(query7,cnx)

                               titulo
0               Star Wars: A New Hope
1  Star Wars: The Empire Strikes Back
2       Star Wars: Return of the Jedi

In [24]:
## Cerrar la conexion con MySQL

cnx.close()