Fase 1: EXTRACCION DE DATOS DE PELICULAS
Nuestro primer objetivo es extraer los datos de películas de la API. En Adalab nos hemos creado un API
muy sencilla que contiene la siguiente información:
Datos a extraer:
Título
Año de lanzamiento
Duración (en minutos)
Género
Contenido para adultos (sí o no)
El objetivo es extraer 100 películas de esta API utilizando el siguiente endpoint:
https://beta.adalab.es/resources/apis/pelis/pelis.json

In [ ]:
## Importar las librerias necesarias
import requests ## para conectar con Api y descargar los datos
import pandas as pd ## para convertir los datos en formato tabla
import mysql.connector ## para conectar Paython con MySQL
import numpy as np ## para convertir formato nan de Paython a none de MySQL
from mysql.connector import Error ## captura errores de MySQL

In [9]:
## Función para llamar a Api y comprobar errores

def llamar_api(url):
    datos = requests.get(url)       ## llamamos a la APi
    print(f"Llamada al API, con respuesta : {datos.status_code}") ## muestra si la respuesta es correcta

    if datos.status_code != 200:
        print(f"Llamada falló, por el siguiente motivo: {datos.reason}")## si hay error nos indica el motivo
    else:
        return datos.json() ## nos devuelve los datos en formato json

In [10]:
## Extraer datos de la Api

url = "https://beta.adalab.es/resources/apis/pelis/pelis.json"
datos_pelis = llamar_api(url)

Llamada al API, con respuesta : 200

In [12]:
## Muestra de los datos extraidos
datos_pelis
type(datos_pelis)

list

In [13]:
## Datos_pelis es una lista de diccionarios;elimino la clave:valor id
for peli in datos_pelis:
    if "id" in peli:
       del peli ["id"]
print(datos_pelis)

[{'titulo': 'The Godfather', 'año': 1972, 'duracion': 175, 'genero': 'Crimen', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Godfather Part II', 'año': 1974, 'duracion': 202, 'genero': 'Crimen', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Pulp Fiction', 'año': 1994, 'duracion': 154, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Forrest Gump', 'año': 1994, 'duracion': 142, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en', 'fr']}, {'titulo': 'The Dark Knight', 'año': 2008, 'duracion': 152, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Fight Club', 'año': 1999, 'duracion': 139, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Inception', 'año': 2010, 'duracion': 148, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en', 'de']}, {'titulo': 'The Matrix', 'año': 1999, 'duracion': 136, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Shawshank Redemption', 'año': 1994, 'duracion': 142, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Interstellar', 'año': 2014, 'duracion': 169, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Gladiator', 'año': 2000, 'duracion': 155, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Titanic', 'año': 1997, 'duracion': 195, 'genero': 'Romance', 'adultos': False, 'subtitulos': ['es', 'en', 'fr']}, {'titulo': 'Avatar', 'año': 2009, 'duracion': 162, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Saving Private Ryan', 'año': 1998, 'duracion': 169, 'genero': 'Bélico', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Silence of the Lambs', 'año': 1991, 'duracion': 118, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Se7en', 'año': 1995, 'duracion': 127, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Goodfellas', 'año': 1990, 'duracion': 146, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Departed', 'año': 2006, 'duracion': 151, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Whiplash', 'año': 2014, 'duracion': 106, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'La La Land', 'año': 2016, 'duracion': 128, 'genero': 'Musical', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Lord of the Rings: The Fellowship of the Ring', 'año': 2001, 'duracion': 178, 'genero': 'Fantasía', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Lord of the Rings: The Two Towers', 'año': 2002, 'duracion': 179, 'genero': 'Fantasía', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Lord of the Rings: The Return of the King', 'año': 2003, 'duracion': 201, 'genero': 'Fantasía', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Star Wars: A New Hope', 'año': 1977, 'duracion': 121, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Star Wars: The Empire Strikes Back', 'año': 1980, 'duracion': 124, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Star Wars: Return of the Jedi', 'año': 1983, 'duracion': 131, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Back to the Future', 'año': 1985, 'duracion': 116, 'genero': 'Aventura', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Jurassic Park', 'año': 1993, 'duracion': 127, 'genero': 'Aventura', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Lion King', 'año': 1994, 'duracion': 88, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Toy Story', 'año': 1995, 'duracion': 81, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Finding Nemo', 'año': 2003, 'duracion': 100, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Shrek', 'año': 2001, 'duracion': 90, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Incredibles', 'año': 2004, 'duracion': 115, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'WALL·E', 'año': 2008, 'duracion': 98, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Up', 'año': 2009, 'duracion': 96, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Spirited Away', 'año': 2001, 'duracion': 125, 'genero': 'Animación', 'adultos': False, 'subtitulos': ['es', 'en', 'jp']}, {'titulo': 'Princess Mononoke', 'año': 1997, 'duracion': 134, 'genero': 'Animación', 'adultos': True, 'subtitulos': ['es', 'en', 'jp']}, {'titulo': 'The Green Mile', 'año': 1999, 'duracion': 189, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Truman Show', 'año': 1998, 'duracion': 103, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Social Network', 'año': 2010, 'duracion': 120, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Joker', 'año': 2019, 'duracion': 122, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Black Panther', 'año': 2018, 'duracion': 134, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Iron Man', 'año': 2008, 'duracion': 126, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Avengers', 'año': 2012, 'duracion': 143, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Avengers: Endgame', 'año': 2019, 'duracion': 181, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Dune', 'año': 2021, 'duracion': 155, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Mad Max: Fury Road', 'año': 2015, 'duracion': 120, 'genero': 'Acción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Revenant', 'año': 2015, 'duracion': 156, 'genero': 'Aventura', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Parasite', 'año': 2019, 'duracion': 132, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en', 'ko']}, {'titulo': 'Oldboy', 'año': 2003, 'duracion': 120, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en', 'ko']}, {'titulo': 'The Pianist', 'año': 2002, 'duracion': 150, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Wolf of Wall Street', 'año': 2013, 'duracion': 180, 'genero': 'Biografía', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Her', 'año': 2013, 'duracion': 126, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Gravity', 'año': 2013, 'duracion': 91, 'genero': 'Ciencia ficción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Shape of Water', 'año': 2017, 'duracion': 123, 'genero': 'Fantasía', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Get Out', 'año': 2017, 'duracion': 104, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'It', 'año': 2017, 'duracion': 135, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Conjuring', 'año': 2013, 'duracion': 112, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'A Quiet Place', 'año': 2018, 'duracion': 90, 'genero': 'Terror', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'The Exorcist', 'año': 1973, 'duracion': 122, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Shining', 'año': 1980, 'duracion': 144, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Blade Runner', 'año': 1982, 'duracion': 117, 'genero': 'Ciencia ficción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Blade Runner 2049', 'año': 2017, 'duracion': 164, 'genero': 'Ciencia ficción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Alien', 'año': 1979, 'duracion': 117, 'genero': 'Ciencia ficción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Aliens', 'año': 1986, 'duracion': 137, 'genero': 'Ciencia ficción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Terminator', 'año': 1984, 'duracion': 107, 'genero': 'Acción', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Terminator 2: Judgment Day', 'año': 1991, 'duracion': 137, 'genero': 'Acción', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Rocky', 'año': 1976, 'duracion': 120, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Raging Bull', 'año': 1980, 'duracion': 129, 'genero': 'Biografía', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Taxi Driver', 'año': 1976, 'duracion': 113, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Casablanca', 'año': 1942, 'duracion': 102, 'genero': 'Romance', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Citizen Kane', 'año': 1941, 'duracion': 119, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Psycho', 'año': 1960, 'duracion': 109, 'genero': 'Terror', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Vertigo', 'año': 1958, 'duracion': 128, 'genero': 'Suspense', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Rear Window', 'año': 1954, 'duracion': 112, 'genero': 'Suspense', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': '12 Angry Men', 'año': 1957, 'duracion': 96, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': "Schindler's List", 'año': 1993, 'duracion': 195, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'American Beauty', 'año': 1999, 'duracion': 122, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'No Country for Old Men', 'año': 2007, 'duracion': 122, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Big Lebowski', 'año': 1998, 'duracion': 117, 'genero': 'Comedia', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Amélie', 'año': 2001, 'duracion': 122, 'genero': 'Romance', 'adultos': False, 'subtitulos': ['es', 'en', 'fr']}, {'titulo': 'The Intouchables', 'año': 2011, 'duracion': 112, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en', 'fr']}, {'titulo': 'City of God', 'año': 2002, 'duracion': 130, 'genero': 'Crimen', 'adultos': True, 'subtitulos': ['es', 'en', 'pt']}, {'titulo': "Pan's Labyrinth", 'año': 2006, 'duracion': 118, 'genero': 'Fantasía', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Roma', 'año': 2018, 'duracion': 135, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Slumdog Millionaire', 'año': 2008, 'duracion': 120, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Million Dollar Baby', 'año': 2004, 'duracion': 132, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': "The King's Speech", 'año': 2010, 'duracion': 118, 'genero': 'Biografía', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Argo', 'año': 2012, 'duracion': 120, 'genero': 'Thriller', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Moonlight', 'año': 2016, 'duracion': 111, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Manchester by the Sea', 'año': 2016, 'duracion': 137, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Birdman', 'año': 2014, 'duracion': 119, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Django Unchained', 'año': 2012, 'duracion': 165, 'genero': 'Western', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Inglourious Basterds', 'año': 2009, 'duracion': 153, 'genero': 'Bélico', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'The Hateful Eight', 'año': 2015, 'duracion': 168, 'genero': 'Western', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'La vita è bella', 'año': 1997, 'duracion': 116, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en', 'it']}, {'titulo': 'Requiem for a Dream', 'año': 2000, 'duracion': 102, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Memento', 'año': 2000, 'duracion': 113, 'genero': 'Thriller', 'adultos': True, 'subtitulos': ['es', 'en']}, {'titulo': 'Eternal Sunshine of the Spotless Mind', 'año': 2004, 'duracion': 108, 'genero': 'Drama', 'adultos': False, 'subtitulos': ['es', 'en']}, {'titulo': 'Donnie Darko', 'año': 2001, 'duracion': 113, 'genero': 'Drama', 'adultos': True, 'subtitulos': ['es', 'en']}]

In [20]:
## Convierto datos_pelis a tabla a través de pandas y muestro los resultados
tabla_datos_pelis = pd.DataFrame(datos_pelis)
tabla_datos_pelis

,titulo,año,duracion,genero,adultos,subtitulos
0,The Godfather,1972,175,Crimen,False,"[es, en]"
1,The Godfather Part II,1974,202,Crimen,False,"[es, en]"
2,Pulp Fiction,1994,154,Crimen,True,"[es, en]"
3,Forrest Gump,1994,142,Drama,False,"[es, en, fr]"
4,The Dark Knight,2008,152,Acción,False,"[es, en]"
...,...,...,...,...,...,...
95,La vita è bella,1997,116,Drama,False,"[es, en, it]"
96,Requiem for a Dream,2000,102,Drama,True,"[es, en]"
97,Memento,2000,113,Thriller,True,"[es, en]"
98,Eternal Sunshine of the Spotless Mind,2004,108,Drama,False,"[es, en]"
99,Donnie Darko,2001,113,Drama,True,"[es, en]"

FASE 2: CREACIÓN DE LA BASE DE DATOS

In [36]:
## Conexión de Paython a MySQL
## Conexión entre Paython y MySQL
try:
    cnx = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='111729',
    )
    print('Conexión exitosa')
except Error as tipo_error:
    print('Error al conectar:', tipo_error)

Conexión exitosa

In [37]:
## Crear base de datos desde Paython
try:
    mycursor = cnx.cursor()
    query = "CREATE DATABASE IF NOT EXISTS bd_peliculas_adalab "
    mycursor.execute(query)
    print("Query exitosa")
except :
    print("Error.")

Query exitosa

In [38]:
## Antes de crear la tabla en la base de datos compruebo como son los datos que tengo
tabla_datos_pelis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   titulo      100 non-null    object
 1   año         100 non-null    int64
 2   duracion    100 non-null    int64
 3   genero      100 non-null    object
 4   adultos     100 non-null    bool
 5   subtitulos  100 non-null    object
dtypes: bool(1), int64(2), object(3)
memory usage: 4.1+ KB

In [39]:
## Compruebo si tiene algun null, si es así se cambia el formato para insertar en MySQL
tabla_datos_pelis.isnull().sum()

titulo        0
año           0
duracion      0
genero        0
adultos       0
subtitulos    0
dtype: int64

In [40]:
## Cambio el nombre de una columna de la tabla
tabla_datos_pelis_act = tabla_datos_pelis.rename(columns={"adultos": "contenido_para_adultos"})
tabla_datos_pelis_act

,titulo,año,duracion,genero,contenido_para_adultos,subtitulos
0,The Godfather,1972,175,Crimen,False,"[es, en]"
1,The Godfather Part II,1974,202,Crimen,False,"[es, en]"
2,Pulp Fiction,1994,154,Crimen,True,"[es, en]"
3,Forrest Gump,1994,142,Drama,False,"[es, en, fr]"
4,The Dark Knight,2008,152,Acción,False,"[es, en]"
...,...,...,...,...,...,...
95,La vita è bella,1997,116,Drama,False,"[es, en, it]"
96,Requiem for a Dream,2000,102,Drama,True,"[es, en]"
97,Memento,2000,113,Thriller,True,"[es, en]"
98,Eternal Sunshine of the Spotless Mind,2004,108,Drama,False,"[es, en]"
99,Donnie Darko,2001,113,Drama,True,"[es, en]"

In [45]:
## Convertir la columna subtitulos de formato lista a texto para que se pueda insertar en SQL

tabla_datos_pelis_act['subtitulos'] = tabla_datos_pelis_act['subtitulos'].apply(
    lambda x:
      ",".join(x)
      if isinstance(x, list)
        else x
)

In [42]:
## Crear tabla peliculas en la base de datos
mycursor.execute("USE bd_peliculas_adalab")

query = '''CREATE TABLE peliculas (
    id INT AUTO_INCREMENT PRIMARY KEY,
    titulo VARCHAR(255) NOT NULL,
    año INT,
    duracion INT,
    genero VARCHAR(100),
    contenido_para_adultos BOOLEAN,
    subtitulos VARCHAR(50)
);'''

mycursor.execute(query)
print("Tabla creada exitosamente")

Tabla creada exitosamente

3. INSERTAR LOS DATOS EN LA BASE DE DATOS CREADA: bd_peliculas_adalab

In [44]:
## Insertar datos
# Query de inserción
query_insertar = """
INSERT INTO peliculas (titulo,año,duracion,genero,contenido_para_adultos,subtitulos) 
VALUES (%s, %s, %s, %s, %s, %s)
"""

datos = tabla_datos_pelis_act.values.tolist()


# Ejecutar inserción
mycursor.executemany(query_insertar, datos)
cnx.commit()

print(f"{mycursor.rowcount} registros insertados")

print(f"{mycursor.rowcount} registros insertados")

100 registros insertados
100 registros insertados

FASE 4: OBTENER INFORMACION A PARTIR DE LOS DATOS
Una vez que tenemos toda la información, vamos a responder las siguientes preguntas utilizando consultas
en SQL

In [ ]:
##¿Cuántas películas tienen una duración superior a 120 minutos?